.change-password-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto; /* centers it horizontally */
  background-color: #f1f7fd;
  padding: 30px;
  border-radius: 10px;
}


.submit-btn {
  padding: 12px;
  background-color: #2c3e50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.change-password-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 6px;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
